<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="post" action="{% url 'users.register' %}">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.as_p }}
        <button type="submit">Register</button>
        <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    <a href="{% url 'social:begin' 'github' %}">Login with Github</a> <br/>
    </form>
</body>
</html>
